{% trans_default_domain 'nav' %}
<!--menu mobile-->
<nav class="menu-res hidden-lg hidden-md ">
    <div class="menu-res-inner">
        <ul>
            <li {% if(active == 'index') %}class="current"{%endif%}>
                <a href="{{ url('index') }}">
                    {{ 'nav.home' | trans }}
                </a>
            </li>
            {% for categorie in categories %}
                <li {% if(active == categorie.libelle) %}class="current"{%endif%} >
                    <a href="{{ url('index_categorie', { libellecategorie : categorie.libelle | lower }) }}">categorie.libelle</a>
                </li>
            {% endfor %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ url('deconnexion') }}">{{ 'nav.logout' | trans }}</a></li>
            {% else %}
                <li><a href="{{ url('security_connexion') }}">{{ 'nav.login' | trans }}</a></li>
                <li><a href="{{ url('security_inscription') }}">{{ 'nav.register' | trans }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="page">
    <div class="container">
        <!--header-->
        <header class="header">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <a href="{{ url('index') }}" class="logo">
                        <img alt="Logo" src="{{ asset('images/logo.png') }}" />
                    </a>
                </div>
            </div>
        </header>
        <!--menu-->
        <nav class="menu font-heading">
            <div class="menu-icon hidden-lg hidden-md">
                <i class="fa fa-navicon"></i>
                <span>MENU</span>
            </div>
            <ul class="hidden-sm hidden-xs">
                <li {% if(active == 'index') %}class="current"{%endif%}>
                    <a href="{{ url('index') }}">
                        {{ 'nav.home' | trans }}
                    </a>
                </li>
                {% for categorie in categories %}
                    <li {% if(active == categorie.libelle) %}class="current"{%endif%}><a href="{{ url('index_categorie', { 'libellecategorie' : categorie.libelle | slugify }) }}">{{ categorie.libelle }}</a></li>
                {% endfor %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ url('deconnexion') }}">{{ 'nav.logout' | trans }}</a></li>
                {% else %}
                    <li><a href="{{ url('security_connexion') }}">{{ 'nav.login' | trans }}</a></li>
                    <li><a href="{{ url('security_inscription') }}">{{ 'nav.register' | trans }}</a></li>
                {% endif %}
            </ul>
            <div class="search-icon">
                <div class="search-icon-inner">
                    <i class="fa fa-search"></i>
                </div>
                <div class="search-box">
                    <input type="text" placeholder="{{ 'nav.search' | trans }}" />
                    <button>{{ 'nav.start' | trans }}</button>
                </div>
            </div>
        </nav>