{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {{ dump(article) }}

    {{ dump(article.categorie.libelle) }}

    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <!--post-detail-->
            <article class="post-detail">
                <h1>Six big ways MacOS Sierra is going to change your Apple experience</h1>
                <div class="meta-post">
                    <a href="#">
                        Sue	Benson
                    </a>
                    <em></em>
                    <span>
                                22 Sep 2016
                            </span>
                </div>

                <p> <span class="dropcap ">N</span> ulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.</p>


                <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.</p>


                <div class="post-detail-img">
                    <img alt="" src="{{ asset('images/product/4.jpg') }}" />
                </div>
                <p class="quote">Sed porttitor lectus nibh. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>

                <p>Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.</p>

                <h4>Nulla porttitor accumsan tincidunt.</h4>

                <p>
                    <img alt="" src="{{ asset('images/product/2.jpg') }}" class="post-detail-img-left" />

                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                </p>
                <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <h5 class="text-right font-heading"><strong>Sue	Benson</strong> </h5>

            </article>
            <!--social-detail-->
            <div class="social-detail">
                <span>   Suivez-nous</span>

                <ul class="list-social-icon">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="rss">
                            <i class="fa fa-rss"></i>
                        </a>
                    </li>

                </ul>
            </div>

            <!--related post-->
            <div class="detail-caption">
                <span>  SUGGESTIONS</span>
            </div>
            <section class="spotlight-thumbs spotlight-thumbs-related">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="" src="{{ asset('images/product/3.jpg') }}">
                                </a>
                                <a href="#" class="cate-tag">business</a>
                            </div>
                            <h3><a href="#">Donald Trump suggests the DNC was hacked by 'someone sitting on their bed that weighs 400 lbs'</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Sue	Benson
                                </a>
                                <em></em>
                                <span>
                                            22 Sep 2016
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="" src="{{ asset('images/product/4.jpg') }}">
                                </a>
                                <a href="#" class="cate-tag">Computing</a>
                            </div>
                            <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Marion	Craig
                                </a>
                                <em></em>
                                <span>
                                            21 Sep 2016
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="" src="{{ asset('images/product/5.jpg') }}">
                                </a>
                                <a href="#" class="cate-tag">Tech</a>
                            </div>
                            <h3><a href="#">Messenger Bots Are Overhyped, Underpowered—and Growing like Crazy</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Super User
                                </a>
                                <em></em>
                                <span>
                                            26 Sep 2016
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {# Sidebar #}
        {% include "components/_sidebar.html.twig" %}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}