{% extends 'layout.html.twig' %}

{% block page_title %}
    Accueil
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--sportlight-->
        <section class="owl-carousel owl-spotlight">
            {% for article in articles %}
                {% if article.spotlightarticle %}
                    <div>
                        <article class="spotlight-item">
                            <div class="spotlight-img">
                                <img alt="" src="images/product/16.jpg" class="img-responsive" />
                                <a href="javascript:void(0)" class="cate-tag">{{ article.categorie.libellecategorie }}</a>
                            </div>
                            <div class="spotlight-item-caption">
                                <h2 class="font-heading">
                                    <a href="javascript:void(0)">
                                        {{ article.titrearticle }}
                                    </a>
                                </h2>
                                <div class="meta-post">
                                    <a href="javascript:void(0)">
                                        {{ article.auteur.prenomauteur ~ ' ' ~ article.auteur.nomauteur }}
                                    </a>
                                    <em></em>
                                    <span>
                                    {{ article.datecreationarticle | date('d/m/Y') }}
                                </span>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endif %}
            {% endfor %}
        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="javascript:void(0)">
                                    <img alt="{{ article.titrearticle }}" src="{{ asset('images/product/'~article.featuredimagearticle) }}" />
                                </a>
                                <a href="javascript:void(0)" class="cate-tag">{{ article.categorie.libellecategorie }}</a>
                            </div>
                            <h3><a href="javascript:void(0)">{{ article.titrearticle }}</a></h3>
                            <div class="meta-post">
                                <a href="javascript:void(0)">
                                    {{ article.auteur.prenomauteur ~ ' ' ~ article.auteur.nomauteur }}
                                </a>
                                <em></em>
                                <span>
                                {{ article.datecreationarticle | date('d/m/Y') }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {# Sidebar #}
    {% include "components/_sidebar.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}